#sortable{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
li{
    height: 20%;
    width: 20%;
    display: flex;
    /* gap: 15px; */
    /* text-align: center; */
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}
li:not(:last-child){
    border-bottom: 2px solid black;

}
li:hover{
    background-color: lightgray;
}
#span{
    font-size: 150%;
}